body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #ffffff;
}


.title h1 {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 6px;
    width: 30%;
    margin: auto;
    margin-top: 10%;
    background-color: #D0342C;
    padding: 20px;
    color: #ffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav {
    text-align: center;
    margin-top: 1%;
}

.dialogue-box {
    width: 80%;
    margin: auto;
    margin-top: 10%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    color: #000000;
    border: 1px solid #000000;
    box-shadow: 0 0 10px #000000;
}