<div class="dialogue-box">
    <h1>Dialogue Title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus rutrum faucibus.</p>
    <a href="https://dl.dropbox.com/scl/fi/m7aibxasy9hbvs4z995z8/cppp.zip?rlkey=n4mx2pbypb4o1ymnk1pvbqtqj&dl=0">Download Editor Packages</a>
</div>